# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs_orig/_build/

# PyBuilder
target/

# Komodo IDE
*.komodoproject

# Pycharm
.idea/*

# Files to be ignored in the project
docs_orig/*
data/2021 opencpn waypoints.gpx
data/2021 opencpn waypoints.gpx
data/WaypointsRoutesTracks-2021.gpx
data/WaypointsRoutesTracks.usr
docs/_build/doctrees/*

